@tailwind base;
@tailwind components;
@tailwind utilities;

.v-slick-slide-group {
  padding: 0 8px;
  box-sizing: border-box;
}

.v-slick-slide-group > * {
  height: 100%;
}

.light .v-slick-arrow:before,
.light .v-slick-dots li.active button:before,
.light .v-slick-dots li button:before {
  color: black !important;
}

.dark .v-slick-arrow:before,
.dark .v-slick-dots li.active button:before,
.dark .v-slick-dots li button:before {
  color: white !important;
}

@media (max-width: 767px) {
  .v-slick-arrow {
    display: none !important;
  }
}
