@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel__slide {
  padding: 0;
  box-sizing: border-box;
  align-items: stretch;
}

.carousel__track {
  align-items: stretch;
}

.carousel__pagination {
  position: static !important;
  inset: auto !important;
  transform: none !important;
  justify-content: center;
  margin: 0 !important;
}

.light .carousel__prev,
.light .carousel__next {
  color: black !important;
}

.light .carousel__pagination-button {
  background-color: rgb(156 163 175) !important;
}

.light .carousel__pagination-button--active {
  background-color: black !important;
}

.dark .carousel__prev,
.dark .carousel__next {
  color: white !important;
}

.dark .carousel__pagination-button {
  background-color: rgb(113 113 122) !important;
}

.dark .carousel__pagination-button--active {
  background-color: white !important;
}

@media (max-width: 767px) {
  .carousel__prev,
  .carousel__next {
    display: none !important;
  }
}
